<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-this-pls">
    <div class="col-min text-header">
        <h4>
            <span>
                <strong>My {{selectedDestination.name}} </strong>
            </span>
        </h4>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 repeated-item detail-list" name="fieldName" ngDefaultControl [(ngModel)]="selectedDestination">
    <mat-card class="home-card">
        <mat-card-content class="home-card-content">
          <img mat-card-image style="height:100px;"
            src="{{ selectedDestination.flight.logo }}"
            alt="{{ selectedDestination.flight.name }}">
          <div>
            <div>{{ selectedDestination.flight.airlineName }}</div>
            <div class="text-medium">{{ selectedDestination.flight.sourceCity }} to {{ selectedDestination.flight.destinationAirport }}</div>
            <div class="text-medium">Departure: {{ selectedDestination.flight.startDateTime  | date: 'MM-dd-yyyy hh mm a'}}</div>
            <div class="text-medium">Arrival: {{ selectedDestination.flight.endDateTime  | date: 'MM-dd-yyyy hh mm a'}} </div>
            <br />
            <br />
            <br />
            <div class="trip-cost">${{ selectedDestination.flight.Price }}</div>
          </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="home-card">
        <mat-card-content class="home-card-content">
          <img mat-card-image
            src="{{ selectedDestination.hotel.heroImage }}"
            alt="{{ selectedDestination.hotel.name }}">
          <div>
            <div>{{ selectedDestination.hotel.name }}</div>
            <div class="text-medium">{{ selectedDestination.hotel.address }}</div>
            <br />
            <br />
            <br />
            <div class="trip-cost">${{ selectedDestination.hotel.price }}</div>
          </div>
        </mat-card-content>
    </mat-card>

<mat-card class="home-card">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="{{ selectedDestination.car.heroImage }}"
        alt="{{ selectedDestination.car.description }}">
      <div>
        <div>{{ selectedDestination.car.description }}</div>
        <div class="text-medium">{{ selectedDestination.car.carType }}</div>
        <br />
        <br />
        <br />
        <div class="trip-cost">${{ selectedDestination.car.Price }}</div>
      </div>
    </mat-card-content>
</mat-card>
<mat-card class="home-card">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="{{ selectedDestination.activity.heroImage }}"
        alt="{{ selectedDestination.activity.name }}">
      <div>
        <div>{{ selectedDestination.activity.name }}</div>
        <div class="text-medium">{{ selectedDestination.activity.description }}</div>
        <br />
        <br />
        <br />
        <div class="trip-cost">${{ selectedDestination.activity.Price }}</div>
      </div>
    </mat-card-content>
</mat-card>
</div>
<br />
<div class="checkout-button"><button mat-raised-button color="primary" (click)="checkout()" >Checkout</button></div>
<router-outlet></router-outlet>
