<div class="card">
    <h2 class="col-md-3">Vacation Planner</h2>
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class='row'>
            <div class='col-md-3'><input type='text' id="txt-budget" style="width:100%;" placeholder="Budget, in $ ex. 1000"
                [(ngModel)]="srchCriteria.budget" /></div>
        </div>
        <div class="row">
            <div class='col-md-3'><input type='text' id="txt-origin" style="width:100%;" placeholder="From city ex. Dallas"
                [(ngModel)]="srchCriteria.origin"/></div>
        </div>
        <div class="height1"></div>
        <span style="font-weight:bold">Vacation Preference</span>
        <div class='row'>
            <div class='col-md-1 radio-wrap'>
                <input type="radio" id="pref-relaxing" (change)="rdbtnClick('Relaxing')" name="preference" value="Relaxing">
                <label title="Relaxing" class="prefCls" for="pref-relaxing">Relaxing</label>
            </div>
            <div class='col-md-1 radio-wrap'>
                <input type="radio" id="pref-luxury" (change)="rdbtnClick('Luxury')" name="preference" value="Luxury">
                <label title="Luxury" class="prefCls" for="pref-luxury">Luxury</label>
            </div>
            <div class='col-md-1 radio-wrap'>
                <input type="radio" id="pref-adventurous" (change)="rdbtnClick('Adventurous')" name="preference" value="Adventurous" >
                <label title="Adventurous" class="prefCls" for="pref-adventurous">Adventurous</label>
            </div>
        </div>
        <div class="height1"></div>
        <div style="display: none;">
        <span style="font-weight:bold">Activity Preference</span>
        <div class='row'>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-nightlife' class='tagCls' name="nightlife">
                <label for='tag-nightlife' title="nightlife">Nightlife</label>
            </div>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-dining' class='tagCls' name="dining">
                <label for='tag-dining' title="dining">Dining</label>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-shopping' class='tagCls' name="shopping">
                <label for='tag-shopping' title="shopping">Shopping</label>
            </div>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-beach' class='tagCls' name="beach">
                <label for='tag-beach' title="beach">Beach</label>
            </div>
        </div>
        <div class="height1"></div>
        </div>
        <button mat-raised-button color="primary" (click)="search()" [routerLink]="['/results']" >Search</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
