<div class="card">
    <div class="card-header" style="text-align: center;">
      <span style="font-size: medium;font-weight: bold;">Not sure where to go?</span>
      <br/><span style="font-size:14px;">Just enter your budget,origin location and start exploring...</span>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class='row'>
            <div class='col-md-3'>
              <mat-form-field class="example-form-field" style="width:100%">
                <mat-label>Budget, in $ ex. 1000</mat-label>
                <input matInput type="text" [(ngModel)]="srchCriteria.budget">
                <button mat-button *ngIf="srchCriteria.budget" matSuffix mat-icon-button aria-label="Clear" (click)="srchCriteria.budget">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <!-- <input type='text' id="txt-budget" style="width:100%;" placeholder="Budget, in $ ex. 1000"
                [(ngModel)]="srchCriteria.budget" /> -->
              </div>
        </div>
        <div class="row">
          <div class='col-md-3'>
          <mat-form-field class="example-form-field" style="width:100%">
            <mat-label>From city ex. Dallas</mat-label>
            <input matInput type="text" [(ngModel)]="srchCriteria.origin">
            <button mat-button *ngIf="srchCriteria.origin" matSuffix mat-icon-button aria-label="Clear" (click)="srchCriteria.origin=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        </div>
        <div class="height1"></div>
        <span style="font-weight:bold">Vacation Preference</span><span style="font-size:small;font-style:italic;padding-left:6px;">(optional)</span>
        <div class="row">
            <!-- <div class=' radio-wrap'>
                <input type="radio" id="pref-relaxing" (change)="rdbtnClick('Relaxing')" name="preference" value="Relaxing">
                <label title="Relaxing" class="prefCls" for="pref-relaxing">Relaxing</label>
            </div>
            <div class=' radio-wrap'>
                <input type="radio" id="pref-luxury" (change)="rdbtnClick('Luxury')" name="preference" value="Luxury">
                <label title="Luxury" class="prefCls" for="pref-luxury">Luxury</label>
            </div>
            <div class=' radio-wrap'>
                <input type="radio" id="pref-adventurous" (change)="rdbtnClick('Adventurous')" name="preference" value="Adventurous" >
                <label title="Adventurous" class="prefCls" for="pref-adventurous">Adventurous</label>
            </div> -->

            <p>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-left:10px;">
                <mat-button-toggle style="width:105px;" (click)="rdbtnClick('Relaxing')" value="Relaxing">Relaxing</mat-button-toggle>
                <mat-button-toggle style="width:105px;" (click)="rdbtnClick('Luxury')" value="Luxury">Luxury</mat-button-toggle>
                <mat-button-toggle value="Adventurous" (click)="rdbtnClick('Adventurous')">Adventurous</mat-button-toggle>
              </mat-button-toggle-group>
            </p>

        </div>
        <div class="height1"></div>
        <div style="display: none;">
        <span style="font-weight:bold">Activity Preference</span>
        <div class='row'>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-nightlife' class='tagCls' name="nightlife">
                <label for='tag-nightlife' title="nightlife">Nightlife</label>
            </div>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-dining' class='tagCls' name="dining">
                <label for='tag-dining' title="dining">Dining</label>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-shopping' class='tagCls' name="shopping">
                <label for='tag-shopping' title="shopping">Shopping</label>
            </div>
            <div class='col-md-2'>
                <input type="checkbox" id='tag-beach' class='tagCls' name="beach">
                <label for='tag-beach' title="beach">Beach</label>
            </div>
        </div>
        </div>
        <div class='row' >
            <div class='col-md-4 center' >
                <button mat-raised-button color="primary" (click)="search()" style="width: 60%;" >Search</button>
            </div>
        </div>
      </div>
    </div>
  </div>

