
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-this-pls">
    <div class="col-min text-header">
        <h4>
            <span>
                  <strong>Showing Destinations for  <span contenteditable="true" class="text-underline">{{passengerCount}}</span>  
                    People from <span contenteditable="true" class="text-underline"> {{fromDate}} </span>  to <span contenteditable="true" class="text-underline">{{toDate}} </span>costing<span contenteditable="true" class="text-underline"> ${{cost}} </span>
                  </strong>
            </span>
        </h4>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 repeated-item" *ngFor = "let item of destinations">
  <mat-card class="home-card" (click)="goToProductDetails(item.packageId)">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="{{ item.image }}"
        alt="{{ item.name }}">
      <div>
        <div>{{ item.name }}</div>
        <div>
          <mat-icon> flight</mat-icon>
          <mat-icon> hotel</mat-icon>
          <mat-icon> directions_car</mat-icon>
          <mat-icon> local_activity</mat-icon>
        </div>
        <br />
        <br />
        <br />
        <div class="trip-cost">${{ item.cost }}</div>
      </div>
    </mat-card-content>
</mat-card>
</div>
<router-outlet></router-outlet>
