
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center-this-pls">
    <div class="col-min text-header">
        <h4>
            <span>
                  <strong>Showing Destinations for  <span contenteditable="true">{{passengerCount}}</span>  
                    People from<span contenteditable="true"> {{fromDate}} </span><span contenteditable="true"> {{toDate}} </span>costing<span contenteditable="true"> ${{cost}} </span>
                  </strong>
            </span>
        </h4>
    </div>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 repeated-item" *ngFor = "let item of getToursList(); trackBy: getToursList">
  <mat-card class="home-card" (click)="goToProductDetails(item.city)">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="{{ item.image }}"
        alt="{{ item.name }}">
      <div>
        <div>{{ item.name }}</div>
        <br />
        <br />
        <br />
        <div class="trip-cost">${{ item.cost }}</div>
      </div>
    </mat-card-content>
</mat-card>
<!--
    <div class="thumbnail destination-card ">

        <div class="hovereffect">
            <div class="destination-images" [ngStyle]="{'background-image': 'url(' + item.image +')'}">
                <div class="caption" id="destination-text">
                    <br>Location: {{ item.name }}
                    <br>Days : {{ item.duration }}
                    <br>Cost : ${{ item.cost }}
              </div>

            </div>
            <div class="overlay">
                <a class="info" ng-href="">
                    View Details
                </a>
            </div>

        </div>

    </div> -->
</div>
<router-outlet></router-outlet>
